@charset 'UTF-8';
@font-face {
	font-family: 'Copperplate';
	font-weight: normal;
	src: url('../font/CopperplateRegular.ttf');
	src: url('../font/CopperplateRegular.svg');
	src: url('../font/CopperplateRegular.eot');
	src: url('../font/CopperplateRegular.eot?#iefix') format('embedded-opentype'),
		url('../font/CopperplateRegular.woff') format('woff'),
		url('../font/CopperplateRegular.woff2') format('woff2');
}

@font-face {
	font-family: 'LifeCraft';
	font-weight: normal;
	src: url('../font/LifeCraftFont.ttf');
	src: url('../font/LifeCraftFont.svg');
	src: url('../font/LifeCraftFont.eot');
	src: url('../font/LifeCraftFont.eot?#iefix') format('embedded-opentype'),
		url('../font/LifeCraftFont.woff') format('woff'),
		url('../font/LifeCraftFont.woff2') format('woff2');
}