.join-us {
	height: 320px;
	background-image: url('../img/mountain.png');
	background-size: cover;
	background-position: center;
	position: relative;

	.title {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	@media only screen and (min-width: 768px) {
		height: 500px;
	}

	p {
    margin-top: 60px;
    font-size: 14px;

		@media only screen and (min-width: 768px) {
			text-align: center;
			position: static;
			margin-top: 120px;
			font-size: 16px;
		}
	}
}